.stApp{
    background-color:#F5F1E8;
}

/* Marca de agua */
.stApp::before{
    content:"";
    position:fixed;
    top:50%;
    left:50%;
    width:650px;
    height:650px;
    transform:translate(-50%,-50%);
    background-image:url("logo.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    opacity:0.05;
    z-index:-1;
}